<div id="aboutpage">
	<div id="ab_info">
	<h2> My Training and Experience </h2>
	I am a licensed clinical social worker having graduated with an MSS and an MLSP from Bryn Mawr College, School of Social Work and Social Research in 1983 followed by post-masters training in adult psychoanalysis.  I am a Certified Psychoanalyst.  Prior to that time, I attained a Bachelor of Social Work degree from Arizona State University.  I am currently on the faculty of the Psychoanalytic Center of Philadelphia and teach in the Adult Psychotherapy Program.  I teach in the Post Graduate Certificate Program at Bryn Mawr College School of Social Work and Social Research.
	<h2> My Areas of Focus </h2>
	Anxiety and Depression</br></br>
	Relationship Issues</br></br>
	Conflicts at home, school, or work</br></br>
	Self Esteem</br></br>
	Bereavement, loss, and other life transitions</br></br>
	Parenting
	</div>


</div>