<!DOCTYPE html>
<html>
<head>
  <title>Mfield</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<div id="navigation">
		<img id="logo" src="#" />
		<div id="navlinks">
			<a href="#">About</a>
			<a href="#">Services</a>
			<a href="#">Resources</a>
			<a href="#">Contact</a>
		</div>
	</div>


	<%= yield %>

</body>
</html>
