<!DOCTYPE html>
<html>
<head>
  <title>Mfield</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<div id="navigation">
		<img id="logo" src="#" /> Miriam Field Psychotherapist
	</div>
	<div id="navlinks">
		<a href="#"><div class="block">About</div></a>
		<a href="#"><div class="block">Services</div></a>
		<a href="#"><div class="block">Resources</div></a>
		<a href="#"><div class="block">Contact</div></a>
	</div>

	<div id="content">
		<%= yield %>
	</div>
	
</body>
</html>
